#toolbar-bracketsftp{
    background-image:url('img/ftp-icon.svg');
}

#toolbar-bracketsftp.working{
    background-position: 0 -24px;
}

#toolbar-bracketsftp.complete{
    background-position: 0 -48px;
}

#toolbar-bracketsftp.error{
    background-position: 0 -96px;
}

.bracketsftp-settings .field-group{
    padding:14px;
    background-color: #D2D4D3;
    border:1px solid #B8B8B8;
    border-radius: 4px;

    margin-bottom:20px;
}

.bracketsftp-settings .field-container{
    margin-bottom: 10px;
}

.bracketsftp-settings .field-container:last-of-type{
    margin-bottom:0px;
}

.bracketsftp-settings .field-container input[type=text], .bracketsftp-settings .field-container input[type=password]{
    width:300px;
}

.bracketsftp-settings .field-group .field-container input[type=text], .bracketsftp-settings .field-group .field-container input[type=password]{
    width:200px;
}

.bracketsftp-settings .field-container label{
    float: left;
    height: 27px;
    line-height: 27px;
    text-align: right;
    width: 150px;
    margin-right: 10px;
}

.bracketsftp-settings .field-group .field-container label{
    height: 27px;
    line-height: 27px;
    width: 135px;
}

.bracketsftp-settings .field-container select{
    border: 1px solid #9C9E9E;
}

.bracketsftp-settings .field-container input[type=checkbox]{
    position: relative;
    top: 5px;
}

.bracketsftp-settings #bftp-serverport{
    width:40px;
}

#bracketftp-status{
    cursor:pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left:0px!important;
}

#bracketsftp-filebrowser {
    position: relative;
}

#bracketsftp-filebrowser .table-container.loading{
    background-image:url('img/loading.gif');
    background-repeat:no-repeat;
    background-position:center center;
}

#bracketsftp-filebrowser .table-container table{
    background-color:#DFE2E2;
}

#bracketsftp-filebrowser .table-container table tr td:nth-child(2){
    text-transform:capitalize;
}

#bracketsftp-filebrowser .currentDirectory{
    color: #454545;
    margin: 0 0 0 10px;
}

#bracketsftp-filebrowser .file-size {
    text-align: right;    
}

#bracketsftp-filebrowser .file-last-updated {
    width: 266px
}
    

/* Spinner --------------------------------------------------------------------- */

#bracketsftp-filebrowser .tc-spinner {
    display: none;
}

#bracketsftp-filebrowser .tc-spinner.loading {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;    
    height: 18px;
    /* width needs to be double the height */
    width: 36px;
    border: 3px solid #1E8CE2;
    border-bottom: 0;
    border-radius: 40px 40px 0 0;
    
    -webkit-transform-origin: bottom center;
    -webkit-animation: spinner .85s infinite linear;
}

@-webkit-keyframes spinner {
    0% {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(180deg);}
    100% {-webkit-transform: rotate(360deg);}
}
